<div class="wrapper fadeInDown">
  <div id="formContent">
   
    {{#if success}}
        <div class="alert-success" role="alert">
            {{success}}
        </div>
    {{/if}}
    {{#if message}}
        <div class="alert-info" role="alert">
            {{message}}
        </div>
    {{/if}}
    {{#if error}}
        <div class="alert-error" role="alert">
            {{error}}
        </div>
    {{/if}}
    
    {{#if errorsValidator}}
        <div class="alert-error" style="text-align: left;" role="alert">
          <ul>
            {{#each errorsValidator}}
              <li>{{ msg }}</li>
            {{/each}}
          </ul>
        </div>
    {{/if}}

    <!-- Tabs Titles -->
    <h2 class="inactive underlineHover"> <a href="/login"> Sign In</a> </h2>
    <h2 class="inactive underlineHover"> <a href="/register"> Sign Up</a> </h2>
    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://www.pavilionweb.com/wp-content/uploads/2017/03/man-300x300.png" id="icon" alt="User Icon" />
    </div>

    <!-- Register Form -->
    <form action="/password/reset" method="POST">
      <input type="text" id="login" class="fadeIn second" name="email" placeholder="E-mail for change password">
      <input type="submit" class="fadeIn fourth" value="Send Mail">
    </form>
  </div>
</div>
