<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{#each css}}
	    <link rel="stylesheet" type="text/css" href="{{this}}" />
	  {{/each}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
